/build/
/dist/
/nbproject/private/
/nesC/nbproject/private/
/db_backup/
/docs/
meassurements_sqlite_2
meassurements_sqlite_2.ph4backup
/libs/*/javadoc
main.exe
main.ihex
build/micaz
build/telosb

/nesC/ReportMote/build/
/nesC/RssiBase/build/
/RSSI_detectBaseStation/nbproject/private/
/RSSI_detectBaseStation/build/
/RSSI_detectBaseStation/dist/